// -------------------------------------------------
//
// Variables
// 
// -------------------------------------------------



// ---------------------------------------------
// Color

$key: #ff4daf;
$white: #f2f2f1;
$black: black;
$background: black;
$pink: #fd03ad;
$text: white;
$contrast: black;
$green: #00ff30;
$blue: blue;
$red: red;

